{% extends "base.html" %}
{% block content %}

    <h1>{{ profile_user.first_name }} {{ profile_user.last_name }}'s Rider Profile</h1>
            
    <hr />

    <h2>{{ profile_user.first_name }}'s Info</h2>
    <p>First Name: {{ profile_user.first_name }}</p>
    <p>Last Name: {{ profile_user.last_name }}</p>
    <p>Username: {{ profile_user.username }}</p>
    <p>Email: {{ profile_user.email }}</p>

    <hr />

    <h2>{{ profile_user.first_name }}'s Stats</h2>
    <p>Rating: {{ rider_prof.rating }}</p>
    <p>No Shows: {{ rider_prof.no_show }}</p>
    <p>Total Trips: {{ rider_prof.total_trips }}</p>

    <hr />

    {% if rider_prof.total_trips > 0 %}
        <h2>Rides Taken</h2>
        {% for each_ride in taken_rides %}
            <a href="/ride/{{ each_ride.pk }}">
                {{ each_ride.pickup_time }}
            </a>
            {% if each_ride.driver_key == None %}
                <p>Status: Need a Driver</p>
            {% elif each_ride.pickup_time <= current_time %}
                <p>Status: Completed</p>
            {% elif each_ride.driver_key != None %}
                <p>Status: Driver Found</p>
            {% endif %}
        {% endfor %}
        <hr />
    {% endif %}

    {% if pending_rides %}
        <h2>Pending Rides</h2>
        {% for each_ride in pending_rides %}
            <a href="/ride/{{ each_ride.pk }}">
                {{ each_ride.pickup_time }}
            </a>
            {% if each_ride.driver_key == None %}
                <p>Status: Need a Driver</p>
            {% elif each_ride.pickup_time <= current_time %}
                <p>Status: Completed</p>
            {% elif each_ride.driver_key != None %}
                <p>Status: Driver Found</p>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
