{% extends "base.html" %}
{% block content %}

    <br /><br />

    <h1>Ride or Share</h1>
    <hr />

    <br /><br />

    <h2>Request for a Ride</h2>
    <form action="/ride/create">
        <input type="submit" value="Create a Ride">
    </form>

    <br /><br /><br />

    <h2>All Rides</h2>

    <div class="ride-cards">
        {% for ride in rides %}
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <a class="ride" href="/ride/{{ ride.pk }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ ride.rider_key.first_name }}'s Ride</h5>
                        <p class="card-text">{{ each_ride.pickup_time }}</p>
                        {% if ride.driver_key == None %}
                            <p class="card-text">Status: Need a Driver</p>
                        {% elif ride.pickup_time <= current_time %}
                            <p class="card-text">Status: Completed</p>
                        {% elif ride.driver_key != None %}
                            <p class="card-text">Status: Driver Found</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <br /><br /><br />

{% endblock %}
