{% extends "base.html" %}
{% block content %}

    <br /><br />

    <h1>Ride or Share</h1>
    <hr />

    <br /><br />

    <h2>Ride Info</h2>

    <p>Rider: {{ rider.first_name }}</p>
    <p>Max Price: ${{ ride.price_cap }}</p>
    <p>Pickup Time: {{ ride.pickup_time }}</p>
    <p>Pickup Location: {{ ride.start_location }}</p>
    <p>Destination: {{ ride.destination }}</p>
    {% if driver == None %}
        <p>Driver: NO DRIVER YET</p>

        {% if signed_in_user != None %}
            <form action="/ride/driverupdate/{{ ride.pk }}">
                <input type="submit" value="Drive for this Ride">
            </form>
        {% endif %}
    {% else %}
        <p>Driver: {{ driver.first_name }}</p>
    {% endif %}

    <br /><br /><br />

    <h2>Update or Cancel Your Ride</h2>
    {% if ride_update and ride.driver_key == None %}
        <form action="/ride/update/{{ ride.pk }}">
            <input type="submit" value="Update Ride Details">
        </form>
        <form action="/ride/delete/{{ ride.pk }}">
            <input type="submit" value="Cancel Your Ride">
        </form>
    {% elif ride_update %}
        <p>You cannot update or delete the ride as the driver has already accepted the ride.</p>
    {% elif ride_update == False %}
        <p>Please sign in to alter ride details.</p>
    {% endif %}

    <br /><br /><br />

{% endblock %}
