{% extends "base.html" %}
{% block content %}

    <h1>Ride or Share</h1>
    <hr />

    <h2>Welcome to Ride or Share</h2>
    <p>Find the cheapest ride share option and get to the places you need to go to.</p>
    <p>Compare Ride Share Services (like Uber and Lyft) with services our drivers have to offer!</p>
    <p>Sign up as a rider to find Cheaper Alternatives!</p>
    
    <hr />

    <h2>Need a Ride?</h2>
    <p>Request for a ride and get matched up with a driver!</p>
    <form action="/ride/create">
        <input type="submit" value="Create Your Ride Here!">
    </form>

    <hr />
    
    <h2>Do you want to drive for Ride or Share?</h2>
    <p>Get Listed as a Driver and undercut all the Uber and Lyft prices!</p>
    <p>Take a look at the rides you could give!</p>
    <form action="/rides">
        <input type="submit" value="Check Out Rides Here!">
    </form>

{% endblock %}
