{% extends "base.html" %}
{% block content %}

    <br /><br />

    <h1>{{ profile_user.first_name }} {{ profile_user.last_name }}'s Driver Profile</h1>
                
    <hr />

    <br /><br />

    <h2>{{ profile_user.first_name }}'s Info</h2>
    <p>First Name: {{ profile_user.first_name }}</p>
    <p>Last Name: {{ profile_user.last_name }}</p>
    <p>Username: {{ profile_user.username }}</p>
    <p>Email: {{ profile_user.email }}</p>

    <br /><br /><br />

    <h2>{{ profile_user.first_name }}'s Stats</h2>
    <p>Safety Rating: {{ driver_prof.safety_rating }}</p>
    <p>Service Rating: {{ driver_prof.service_rating }}</p>
    <p>Time Rating: {{ driver_prof.time_rating }}</p>
    <p>Total Trips: {{ driver_prof.total_trips }}</p>
    <p>No Shows: {{ driver_prof.no_show }}</p>
    
    <br /><br /><br />

    <h2>{{ profile_user.first_name }}'s Vehicle and License Info</h2>
    <p>License Expiration Date: {{ driver_prof.license_expiration }}</p>
    <p>Vehicle Type: {{ driver_prof.vehicle_type }}</p>
    <p>Vehicle Make: {{ driver_prof.vehicle_make }}</p>
    <p>Vehicle Model: {{ driver_prof.vehicle_model }}</p>
    <p>Vehicle Year: {{ driver_prof.vehicle_year }}</p>
    {% if driver_prof.vehicle_insured %}
        <p>Vehicle Insurance Coverage Status: Covered</p>
    {% else %}
        <p>Vehicle Insurance Coverage Status: Not Covered</p>
    {% endif %}

    {% if personal_profile %}
        <form action="/driver/update/{{ driver_prof.id }}">
            <input type="submit" value="Update Details">
        </form>
    {% endif %}
    
    <br /><br /><br />
    
    <h2>Rides Given</h2>
    <div class="ride-cards row">
        {% for each_ride in given_rides %}
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <a class="ride" href="/ride/{{ each_ride.pk }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ each_ride.rider_key.first_name }}'s Ride</h5>
                        <p class="card-text">{{ each_ride.pickup_time }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <br /><br /><br />

{% endblock %}
